/* raleway font */

.raleway-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* inter font */
.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* shared styles */
.text-primary{
    color: #4E47FF;

}
.dark-1{
    color: #252432;
}
.dark-2{
    color: #252432;
}
.white-1{
    color: #FFFFFF;
}
    /* nav styles */
    
nav{ 
    background-image: url(../images/Hero-bg.png);
    height: 698px;
    margin-top: 66px;

}
.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.logo-text{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
    font-family: "Inter"
}
.btn-sign{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    padding: 3px 12px;
    border-radius: 10px;
    gap: 10px;
}
.banner{
    text-align: center;
    margin-top: 158px;

}
.banner-content{
    font-family: "Raleway";
    font-weight: "bold";
    font-size: 65px;
    color: #252432;
}
.btn-stay{
    text-align: center;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}

.see-it{
    display: flex;
    justify-content: space-between;
    margin: 180px 180px;
}
.see-it-text{
    color: #252432;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: bold;
}
.see-it-p{
    color: #4d4c63;
    font-family: "Raleway";
    font-size: 24px;
    

}
.btn-launch{
    text-align: center;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}
.img-wc-mini{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.productive-user{
    text-align: center;
    margin: 20px 306px;
    background-color: #d5d4f8;
    border-radius: 24px;
    
    
    

}
.thou{
    padding: 80px 50px;

}
.count{
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 158px;
}
.thou-title{
    font-family: "Raleway";
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}
.blue-count{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family: "Inter";
}
.blue-count-p{
    color: #4d4c63;
    font-size: 20px;
    font-family: "Inter";
    width: 160px;
    height: 24px;
}

