/* raleway font */

.raleway-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* inter font */
.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* shared styles */
.text-primary{
    color: #4E47FF;

}
.dark-1{
    color: #252432;
}
.dark-2{
    color: #252432;
}
.white-1{
    color: #FFFFFF;
}
    /* nav styles */
    
nav{ 
    background-image: url(../images/Hero-bg.png);
    height: 698px;
    margin-top: 66px;

}
.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.logo-text{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
    font-family: "Inter"
}
.btn-sign{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    padding: 3px 12px;
    border-radius: 10px;
    gap: 10px;
}
.banner{
    text-align: center;
    margin-top: 158px;

}
.banner-content{
    font-family: "Raleway";
    font-weight: "bold";
    font-size: 65px;
    color: #252432;
}
.btn-stay{
    text-align: center;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}

.see-it{
    display: flex;
    justify-content: space-between;
    margin: 180px 180px;
}
.see-it-text{
    color: #252432;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: bold;
}
.see-it-p{
    color: #4d4c63;
    font-family: "Raleway";
    font-size: 24px;
    

}
.btn-launch{
    text-align: center;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}
.img-wc-mini{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* 3rd */

.productive-user{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 306px;
    border-radius: 30px;
}

.count{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.thou{
    padding: 80px 50px;
}
.thou-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    font-family: "Raleway";
}
.blue-count-p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-top: -45px;
    font-family: "Inter";
}

.blue-count{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family:"Inter" ;
}

/* 4th  */

.what-our{
    margin: 200px 0px;
}
.wat{
    display: flex;
    border: 0px solid #F2EDED ;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.wat-text{
    width: 366px;
    height: 243px;
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.what-say{
    text-align: center;
    color: #252432;
    font-weight: bold;
    font-size: 42px;
    font-family: "Raleway";
}
.love-lav{
    font-family: "Raleway";
    margin-top: 40px;
}
.avatar1{
    display: flex;
    gap: 12px;
    margin-top: 40px;
    align-items: center;
}
.avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.reviewer{
    color: #757575;
    font-size: 22px;
    font-family: "Inter";
}
.date-san{
    font-family: "Inter";
    color: #B3B3B3;
    margin-top: -20px;
}
