/* raleway font */

.raleway-Raleway {
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;

font-style: normal;
}

/* inter font */
.inter-Inter {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}
/* shared styles */
.text-primary{
    color: #4E47FF;

}
.dark-1{
    color: #252432;
}
.dark-2{
    color: #252432;
}
.white-1{
    color: #FFFFFF;
}
    /* nav styles */
    
nav{ 
    background-image: url(../images/Hero-bg.png);
    height: 698px;

}
.nav-title{
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
    font-family: "Inter"
}
.btn-sign{
    background-color: #4E47FF;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    padding: 3px 12px;
    border-radius: 10px;
    gap: 10px;
}
.btn-sign:hover{
    background-color: rgb(173, 20, 182);
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.banner{
    text-align: center;
    margin-top: 158px;

}
.banner-content{
    font-family: "Raleway";
    font-weight: "bold";
    font-size: 65px;
    color: #252432;
}
.btn-stay{
    text-align: center;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}
.btn-stay:hover{
    background-color: rgb(173, 20, 182);
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.see-it{
    display: flex;
    justify-content: space-between;
    margin: 180px 180px;
}
.see-it-text{
    color: #252432;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: bold;
}
.see-it-p{
    color: #4d4c63;
    font-family: "Raleway";
    font-size: 24px;
    

}
.btn-launch{
    text-align: center;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
}
.btn-launch:hover{
    background-color: rgb(173, 20, 182);
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img-wc-mini{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* 3rd */

.productive-user{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 306px;
    border-radius: 30px;
}

.count{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.thou{
    padding: 80px 50px;
}
.thou-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    font-family: "Raleway";
}
.blue-count-p{
    color: #878585;
    font-size: 20px;
    margin-top: 40px;
    font-family: "Inter";
}

.blue-count{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family:"Inter" ;
}

/* 4th  */

.what-our{
    margin: 200px 0px;
}
.wat{
    display: flex;
    border: 0px solid #F2EDED ;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.wat-text{
    width: 366px;
    height: 243px;
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.what-say{
    font-family: "Raleway";
    text-align: center;
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.love-lav{
    font-family: "Raleway";
    margin-top: 40px;
}
.avatar1{
    align-items: center;
    margin-top: 40px;
    display: flex;
    gap: 12px;
    
    
}
.avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.reviewer{
    color: #757575;
    font-size: 22px;
    font-family: "Inter";
}
.date-san{
    font-family: "Inter";
    color: #B3B3B3;
    margin-top: -20px;
}
/* 5th section png */

.rdy-h{
    font-family: "Raleway";
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.rdy-p{
    font-family: "Inter";
    font-size: 16px;
    color: #757575;

}
.btn-get{
    font-size: 16px;
    font-family: "Raleway";
    background-color: #4E47FF;
    width: 185px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-get:hover{
    background-color: rgb(214, 34, 181);
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-fifth{
    width: 840px;
    height: 364px;
    border-radius: 48px;
    margin-top: 20px;
}
.rdy-focus{
    text-align: center;
    margin: 200px 240px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px 51px;
}
/* form section */
.lets{
    gap: 100px;
    display: flex;
    padding: 130px 230px;
    
    
}

.lets-text{
    width: 50%;
    align-items: center;
    display: flex;
}

.lets input[type="text"], .lets input[type="email"], .lets textarea {
    height: 64px;
    border-radius: 5px;
    background-color: #f1f0f0;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-family: "Inter";
}

.btn-submit{
    background-color:  #4E47FF;
    padding: 15px 240px;
    width: 107%;
    border-radius: 10px;
    text-align: center;
    height: 54px;
    font-size: 18px;
    margin-bottom: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-submit:hover{
    background-color: rgb(173, 20, 182);
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.lets-h{ 
    font-family: "Raleway";
    font-size: 90px;
    font-weight: bold;
    color: #000000;
    

}
.form-email{
    font-family: "Inter";
    font-weight: medium;
    font-size: 18px;
}
.txtt{
    font-family: "Inter";
}
/* footer */
.last{
    justify-content: center;
    margin-bottom: 200px;
}
.logo-h{
    text-align: center;
    font-family: "Inter";
    font-size: 100px;
    font-weight: 900px;
    color: #4E47FF;

}

.last-p{
    color: #4d4c63;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400px;
}
.ul-last , a{
    display: flex;
    gap:40px;
    justify-content: center;
    color: #8987A1;
    font-size: 16px;
    font-family: "Inter";
    list-style: none;
    text-decoration: none;
}


